// colors
// theme
$color_primary : #1a243d;
$color_secondary : #133a78;
$color_tertiary: #e7ebf4;
$color_quaternary: #EEEEEE;
$color_quintary: #E8DFDB;
$color_six: #01C2CB;
$color_seven: #FB4A2C;
// text
// basic
$color_black : #000000;
$color_white : #FFFFFF;
$color_transparent : transparent;
$color_gray: #616161;