// utilities
@import 'responsive';
@import 'colors';
@import 'mixing_artefacts';
// display
.d {
  &-flex {
    display: flex !important;
    flex-wrap: wrap;
    &-nowrap {
      flex-wrap: nowrap;
    }
    &-column {
      flex-direction: column;
    }
  }
  &-block {
    display: block !important;
  }
  &-inline {
    display: inline !important;
    &-block {
      display: inline-block !important;
    }
  }
  &-none {
    display: none !important;
  }
  &-md {
    &-none {
      @include breakpoint(tablet) {
        display: none !important;
      }
    }
    &-block {
      @include breakpoint(tablet) {
        display: block !important;
      }
    }
    &-flex {
      @include breakpoint(tablet) {
        display: flex !important;
        flex-wrap: wrap !important;
      }
    }
    &-inline {
      @include breakpoint(tablet) {
        display: inline !important;
      }
      &-block {
        @include breakpoint(tablet) {
          display: inline-block !important;
        }
      }
    }
  }
  &-lg {
    &-none {
      @include breakpoint(desktop) {
        display: none !important;
      }
    }
    &-block {
      @include breakpoint(desktop) {
        display: block !important;
      }
    }
    &-flex {
      @include breakpoint(desktop) {
        display: flex !important;
        flex-wrap: wrap !important;
      }
      &-wrap {
        @include breakpoint(desktop) {
          flex-wrap: wrap !important;
        }
      }
    }
    &-inline {
      @include breakpoint(desktop) {
        display: inline !important;
      }
      &-block {
        @include breakpoint(desktop) {
          display: inline-block !important;
        }
      }
    }
  }
}

// order
.order {
  &-none {
    order: none;
  }
  &-0 {
    order: 0;
  }
  &-1 {
    order: 1;
  }
  &-2 {
    order: 2;
  }
  &-3 {
    order: 3;
  }
  &-4 {
    order: 4;
  }
  &-5 {
    order: 5;
  }
  &-6 {
    order: 6;
  }
  &-7 {
    order: 7;
  }
  &-8 {
    order: 8;
  }
  &-9 {
    order: 9;
  }
  &-10 {
    order: 10;
  }
  &-lg {
    &-0 {
      @include breakpoint(desktop) {
        order: 0;
      }
    }
    &-1 {
      @include breakpoint(desktop) {
        order: 1;
      }
    }
    &-2 {
      @include breakpoint(desktop) {
        order: 2;
      }
    }
    &-3 {
      @include breakpoint(desktop) {
        order: 3;
      }
    }
    &-4 {
      @include breakpoint(desktop) {
        order: 4;
      }
    }
    &-5 {
      @include breakpoint(desktop) {
        order: 5;
      }
    }
    &-6 {
      @include breakpoint(desktop) {
        order: 6;
      }
    }
    &-7 {
      @include breakpoint(desktop) {
        order: 7;
      }
    }
    &-8 {
      @include breakpoint(desktop) {
        order: 8;
      }
    }
    &-9 {
      @include breakpoint(desktop) {
        order: 9;
      }
    }
    &-10 {
      @include breakpoint(desktop) {
        order: 10;
      }
    }
  }
}

// aling items
.align {
  &-items {
    &-center {
      align-items: center;
    }
    &-start {
      align-items: flex-start;
    }
    &-end {
      align-items: flex-end;
    }
    &-stretch {
      align-items: stretch;
    }
  }
  &-content {
    &-center {
      align-content: center;
    }
    &-start {
      align-content: flex-start;
    }
    &-between {
      align-content: space-between;
    }
  }
}

.justify {
  &-content {
    &-center {
      justify-content: center;
    }
    &-end {
      justify-content: flex-end;
    }
    &-start {
      justify-content: flex-start;
    }
    &-between {
      justify-content: space-between;
    }
    &-evenly {
      justify-content: space-evenly;
    }
  }
}
// sizes
.w {
  &-100 {
    width: 100%;
  }
  &-80 {
    width: 80%;
  }
  &-70 {
    width: 70%;
  }
  &-40 {
    width: 40%;
  }
  &-50 {
    width: 50%;
  }
  &-30 {
    width: 30%;
  }
  &-lg {
    &-80 {
      @include breakpoint(desktop) {
        width: 80% !important;
      }
    }
  }
  &-lg {
    &-70 {
      @include breakpoint(desktop) {
        width: 70% !important;
      }
    }
  }
  &-lg {
    &-50 {
      @include breakpoint(desktop) {
        width: 50% !important;
      }
    }
  }
}

.h {
  &-100 {
    height: 100%;
  }
  &-50 {
    height: 50%;
  }
  &-md {
    &-100 {
      @include breakpoint(tablet) {
        height: 100% !important;
      }
    }
    &-50 {
      @include breakpoint(tablet) {
        height: 50% !important;
      }
    }
  }
  &-lg {
    &-100 {
      @include breakpoint(desktop) {
        height: 100% !important;
      }
    }

    &-50 {
      @include breakpoint(desktop) {
        height: 50% !important;
      }
    }
  }
}

// disabled
.disabled {
  pointer-events: none;
}

// overflow
.overflow {
  &-hidden {
    overflow: hidden;
  }
  &-auto {
    overflow: auto;
  }
  &-lg {
    &-hidden {
      @include breakpoint(desktop) {
        overflow: hidden !important;
      }
    }
    &-auto {
      @include breakpoint(desktop) {
        overflow: auto !important;
      }
    }
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}
